nav {
    width: 100%;
    background-color: gray; // wartość do zmiany
  
    ul {
        display: flex;
        max-width: 1200px;
        list-style-type: none;
        color: $c-white;
        font-weight: 700;
        margin: 0 auto;
        padding: 0 10px;
  
      li {
        display: flex;
        cursor: pointer;
        flex-basis: 33.33%;
        justify-content: center;

        &:first-of-type {
          flex-basis: 100px;
        }
  
        a {
            height: 50px;
            color: $c-white;
            display: flex;
            flex-basis: 100%;
            align-items: center;
            justify-content: center;
            align-items: center;
            position: relative;
            text-decoration: none;
        }
      }
    }

    .searchBar {
        display: flex;
        align-items: center;
    }
  }
  