@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: $c-white;
  margin: 0;
}

a {
  text-decoration: none;
  color: $c-black;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#root {
  margin: auto;
  position: relative;
  background-color: $c-alabaster;
  overflow: hidden;
  color: $c-black;
  font-family: 'Noto Sans', sans-serif;
}

.app {
  * {
    transition: background-color 0.4s ease-in-out;
  }

  h1 {
    font-weight: 600;
  }

  .centered {
    margin: auto;
  }

  .close-btn {
    position: absolute;
    right: 10px;
    top: 8px;
  }

  .dialog-title > * {
    padding-right: $space-medium;

    p {
      font-size: 1.2rem;
    }
  }

  .MuiCircularProgress-root.centered {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .MuiFormHelperText-root {
    color: $c-accentSecondary;
    font-size: 12px;
    margin-left: 7px;

    &:before {
      content: "* ";
      font-size: 12px;
    }
  }

  span.error {
    color: $c-accentSecondary;
    font-size: 12px;
  }
}